@{
    ViewData["Title"] = "Home";
}

<div class="cursor"></div>
<div class="page-wrapper text-center">
    <section class="hero">
        <main class="title">
            <h1 class="title-font">Welcome to Dreams Innovation</h1>
            <div class="back_txt">
                <!-- Name of the Company -->
                <span>D</span>
                <span>R</span>
                <span>E</span>
                <span>A</span>
                <span>M</span>
                <span>S</span>
            </div>
        </main>
        <p class="subtitle-font color py-3">Where Dreams Come to Life.</p>
    </section>
</div>
@* <div class="text-center"> *@
    @* bootstrap classes *@
    @* <div class="my-5 py-3">
        <h1 class="display-4 title-font primary-color">Welcome to Dreams Innovation</h1>
        <p class="subtitle-font secondary-color py-3">Where Dreams Come to Life.</p>
    </div>
</div> *@





