@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    @* bootstrap classes *@
    <div class="my-5 py-3">
        <h1 class="display-4 title-font primary-color">Welcome to Dreams Innovation</h1>
        <p class="subtitle-font secondary-color py-3">Where <a href="#">Dreams</a> Come to Life.</p>
    </div>
</div>





